*{
	margin:0;

}
body{
	font-family: 'Lucida Handwriting';
	background-image:url('backgroundbody.jpg');

}
.header{
	background-image: url('IMG_20210830_134306.jpg');
	position: sticky;
	top: 0;
	background-size: 12%;
	padding-top: 50px;
	color: blue;

}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.table_style{
	border-collapse: collapse;
	min-width: 600px;
	width: auto;
	box-shadow: 0 5px 50px rgba(0,0,0,0.85);
	margin:100px auto;
	border:2px solid blue;
	font-family: 'Castellar';
}
thead tr{
	background-color: blue;
	color: #fff;
	text-align: center;
}

th, td {
	padding: 20px 40px;
}

tbody tr, td,th{
	border:1px solid #ddd;
}
video {
	border-radius: 60px;
	width: 70%;
	padding:30px;
}
.text{
	justify-content: center;
	text-align: center;
	size: 50;
	color: black;
	padding: 100px;
	
}
footer {
	display: flex;
	position: sticky;
	top: 0;
	background-color: midnightblue;
	padding-top: 100px;
}
.piedpage{
	color: white;

}